@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



body {
    align-items: center;
    justify-content: center;
    background-image: url("bg_iamge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}
